In [1]:
import warnings
warnings.filterwarnings('ignore')

In [5]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [6]:
# Load the data
file_path = Path('INSURANCE_MODELING.csv')
df = pd.read_csv(file_path)
df.head()

,id,age,gender,driving_license,region_code,annual_premium,previously_insured,vehicle_age,vehicle_damage,vintage,response,policy_sales_channel
0,1,44,Male,1,28,40454,0,> 2 Years,Yes,217,1,26
1,2,76,Male,1,3,33536,0,1-2 Year,No,183,0,26
2,3,47,Male,1,28,38294,0,> 2 Years,Yes,27,1,26
3,4,21,Male,1,11,28619,1,< 1 Year,No,203,0,152
4,5,29,Female,1,41,27496,1,< 1 Year,No,39,0,152