In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [4]:
# Load the data
file_path = Path('INSURANCE_MODELING.csv')
df = pd.read_csv(file_path)
df.head()

,id,age,gender,driving_license,region_code,annual_premium,previously_insured,vehicle_age,vehicle_damage,vintage,response,policy_sales_channel
0,7,23,Male,1,11,23367,0,< 1 Year,Yes,249,0,152
1,13,41,Female,1,15,31409,1,1-2 Year,No,221,0,14
2,18,25,Female,1,35,46622,1,< 1 Year,No,299,0,152
3,31,26,Female,1,8,2630,0,< 1 Year,No,136,0,160
4,39,45,Male,1,8,42297,0,1-2 Year,Yes,264,0,124